* {
    box-sizing: border-box;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15, 45, 90);

}
.calculate {
    background-color: rgb(255, 223, 85);
    border-radius: 20px;
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.9);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 320px;
}
.display {
    background:white;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    color: rgb(56, 92, 134);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.2s;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
    min-width: 0;
}
button{
    background: white;
    border-radius: 20px;
    border:none;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(15, 45, 90);
    box-shadow: 4px 4px 10px rgb(255, 223, 85), -4px -4px 10px(255, 236, 141);
    transition: all 0.2s, transform 0.1s;
    cursor: pointer;
    min-width: 0;
}

button:hover {
    background-color: rgb(141, 173, 209);
    transform: scale(1.05);
}
button:active{
    box-shadow: inset 2px 2px 6px rgb(15, 45, 90), inset -2px -2px 6px rgb(15, 45, 90);
    transform: scale(0.95);
}
.equal {
    grid-column: span 2;
}
@media (max-width: 400px){
    button {
        font-size: 1rem;
        padding: 0.8rem;
    }
}
